.changepw_title {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-top: 100px;
}

.changepw_line {
  width: 52px;
  height: 7px;
  background-color: #1fbe5f;
  margin: auto;
}

.changepw_sub {
  font-size: 20px;
  color: #000;
}

.changepw_submit {
  width: 350px;
  height: 41px;
  margin: 2em 0 1em 9em;
  align-items: flex-start;
  background-color: #7cdfa4;
  border-color: #7cdfa4;
}