.suggestionscontent_lines {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.suggestionscontent_lists {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.suggestionscontent_title {
  width: 80%;
  height: 57px;
  margin: 0 0 0 150px;
  font-size: 26px;  
  font-weight: bold;
  text-align: left;
  color: #2c1507;
}

.suggestionscontent_key {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 180px;
  gap: 30px;
  font-weight: bold;
}

.suggestionscontent_id {

}

.suggestionscontent_hits {
  margin: 0 0 0 60%;
}

.suggestionscontent_date {

}

.suggestionscontent_content {
  display: flex;
  justify-content: flex-start;
  margin-left: 180px;
  width: 1000px;
  height: 580px;
}

.suggestionscontent_button {
  
}

.suggestionscontent_reply {
  display: flex;
  margin: 50px 0 20px 180px;
}

.suggestionscontent_reply_arrow {
  width: 10%;
  height: 90px;
  background-image: url('../asset/img/arrow.png');
  background-repeat: no-repeat;
}

.suggestionscontent_reply_info {
  display: flex;
  flex-direction: column;
}

.suggestionscontent_reply_content {
  width: 777px;
  /* height: 147px; */
  padding: 12px;
  border-radius: 13px;
  border: solid 1px #707070;
  background-color: #fff;
}

.suggestionscontent_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 70%;
}
.btns {
  margin: 0;
  height: 40px;
  width: 80px;
  font-size: 20px;
  padding: auto;
  border-radius: 5px;
}

.btn-success {
  background-image: linear-gradient(to right, #1fbe5f 22%, #91ea8a 93%);
  border: #91ea8a;
}