.main_img {
  width: 100%;
  height: 506px;
  background-image: url('../asset/img/main_img.png');
  background-position : center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main_welcome {
  width: 100%;
  height: 200px;
  background-image: url('../asset/img/main_welcome.png');
  background-position : center;
  background-repeat: no-repeat;
}

.main_welcome_text1 {
  padding-top: 65px;
  font-weight: bold;
  font-size: 25px;;
}

.main_welcome_line {
  width: 30%;
  height: 5px;
  border-radius: 4px;
  margin: 0.3% 0px 0px 35%;
  background-color: #707070;
}

.main_welcome_text2 {
  padding-top: 5px;
  font-weight: bold;
  font-size: 20px;;
}

.main_background {
  width: 100%;
  height: 1286px;
  -webkit-backdrop-filter: blur(21px);
  backdrop-filter: blur(21px);
  background-image: linear-gradient(to bottom, #1fbe5f, #fff);
  padding-top: 6%;
}

.main_rule_img{
  width: 1300px;
  height: 950px;
  margin: auto;
  background-image: url('../asset/img/main_rules.png');
  background-position : center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_introduce {
  font-size: 35px;
  font-weight: bold;
  margin-top: 2%;
}

.main_introduce_sub {
  font-size: 24px;
  font-weight: 500;
  margin-top: 1%;
}

.main_introduce_box {
  width: 270px;
  height: 270px;
  border: solid 1px #e2e3e4;
  background-color: #f6f6f6;
}

.main_introduce_title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 15% 0px 5% 7%;
}

.main_introduce_text {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #90cda8;
  margin: 1% 0px 0px 7%;
  word-break:normal;
}

.main_introduce_img {
  padding-top: 14%;
  background-position: left;
}

.main_inroduce_plus {
  width: 25px;
  height: 25px;
  background-image: url('../asset/img/main_introduce_plus.png');
  background-position : center;
  background-repeat: no-repeat;
}