.join_title {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-top: 100px;
}

.join_line {
  width: 52px;
  height: 7px;
  background-color: #1fbe5f;
  margin: auto;
}

.join_sub {
  font-size: 20px;
  color: #000;
}

.join_submit {
  width: 300px;
  height: 40px;
  margin: 0 0 0 0;
  background-color: #7cdfa4;
  border-color: #7cdfa4;
}

.join_cancle_submit {
  width: 300px;
  height: 40px;
  margin: 0 0 0 0;
  background-color: #7cdfa4;
  border-color: #7cdfa4;
}