.select {
  width: 330px;
  height: 60px;
  text-align: center;
  background-image: linear-gradient(to right, #1fbe5f 22%, #91ea8a 93%);
  padding-top: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.notselect {
  width: 330px;
  height: 60px;
  text-align: center;
  border: solid 1px #1fbe5f;
  background-color: #fff;
  padding-top: 15px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}