body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  height: 100px;;
}

.logo {
  width: 129px;
  height: 74px;
  float: left;
  margin: 0 278.9px 61px 220px;
  background-image: url('./AT.png');
}

.home {
  width: 10px;
  height: 36px;
  margin: 30px 100px 72px 150px;
  font-family: SpoqaHanSansNeo;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  float: left;
}

.nav_item {
  width: 100px;
  height: 36px;
  margin: 30px 30px 72px 0px;
  font-family: SpoqaHanSansNeo;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  float: left;
} 